body {
    background-color: #f5efe7;
    color: #3d312d;
    line-height: 1.6;
}

h1 {
    font-weight: bolder;
    font-size: 50px;
    color: #4d3a2e;
    letter-spacing: 1px;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    color: #5a463d;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    color: #4a3d38;
}

.step4 {
    background-color: #dfecc8;
}

img {
    width: 300px;
    border: 5px solid #4f4cf7;
}

ul {
    list-style-type: square;
}

li {
    color: #433a36;
}

